.cards {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 720px;
    row-gap: 58px;
  }
}

@media screen and (max-width: 540px) {
  .cards {
    max-width: 320px;
    row-gap: 36px;
  }
}
