.gallery {
  padding: 46px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .gallery {
    padding: 32px 24px 46px;
  }
}

@media screen and (max-width: 540px) {
  .gallery {
    padding: 19px 16px;
  }
}
