.gallery {
  padding: 46px 48px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .gallery {
    padding: 32px 24px 46px;
  }
}

@media screen and (max-width: 540px) {
  .gallery {
    padding: 19px 16px;
  }
}
