.cards__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cards__paragraph {
    line-height: 1.63;
  }
}
