.header {
  padding: 34px 48px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 34px 0 28px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 20px 0 22px;
  }
}
