.cover__container {
  max-width: 1184px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__container {
    overflow: hidden;
  }
}

@media screen and (max-width: 540px) {
  .cover__container {
    max-width: 540px;
  }
}
