.cards__title {
  margin: 0;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cards__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 540px) {
  .cards__title {
    max-width: 382px;
    margin: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
