.cards__link {
  display: inline-block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
}
