.header__container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header__container {
    margin: 90px 24px 0;
  }
}

@media screen and (max-width: 540px) {
  .header__container {
    margin: 50px 16px 0;
  }
}
