.header__title {
  max-width: 793px;
  margin: 0 0 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .header__title {
    max-width: 720px;
    /* margin: 0 0 99px; */
  }
}

@media screen and (max-width: 540px) {
  .header__title {
    max-width: 288px;
    margin: 0 0 60px;
    font-size: 40px;
    line-height: 1.1;
  }
}
