.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 48px;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 1024px) {
  .button {
    padding: 13px 15px;
  }
}
